html, body, .container {
  height: 100%;
}
body {
  background: #e74c3c;
  overflow: hidden;
}

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px;
}

/* вся коробка */
.giftbox{
  position: absolute;
  width:348px;
  height:284px;
  left:50%;
  margin-left: -150px;
  bottom: 0;
  z-index:10;
  &>div{
    background: #34495e;
    position: absolute;
    &:after,&:before{
      position: absolute;
      content:"";
      top: 0;
    }
  }
  .cover {
    width:100%;
    top: 0;
    left: 0;
    height:25%;
    z-index:2;
    &:before{
      position: absolute;
      height:100%;
      left: 50%;
      width:50px;  transform:translateX(-50%);
      background:#fdc56d;
    }

    /* бантик */
    &>div {
      position: absolute;
      width:50px;
      height:50px;
      left:50%;
      top:-50px; transform:translateX(-50%);
      &:before,&:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content:"";
        box-shadow:inset 0 0 0 15px #fdc56d;
        border-radius:30px;
        transform-origin:50% 100%;
      }
      &:before {
        transform:translateX(-45%) skewY(40deg);
      }
      &:after {   transform:translateX(45%) skewY(-40deg);
      }
    }
  }


  .box {
    right:5%;
    left:5%;
    height:80%;
    bottom: 0;
    &:before{
      width:50px;
      height:100%;
      left:50%;
      transform:translateX(-50%);
      background:#fdc56d;
    }
    &:after{
      width:100%;
      height:30px;
      background:rgba(0,0,0,0.2);
    }
  }
}

.shake {
  .giftbox{
    animation:wobble 0.5s linear infinite forwards;
  }
  .cover{
    animation:wobble 0.5s linear infinite  0.1s forwards;
  }
}
@keyframes wobble {
  25%{
    transform:rotate(4deg);
  }
  75%{
    transform:rotate(-2deg);
  }
}
