@import "variables";
@import "effects";
@import "gifts";

html, body {
  height: 1080px;
  width: 1920px;
}
body {
  background: #e74c3c;
  overflow: hidden;
}

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px;
}

.giftbox {
   position: absolute;

  &.path {
    background-color: yellow;
  }
}
