$mobile-mini-only: "(max-width: 499px)";
$mobile-small: "(min-width: 500px)";
$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$laptop: "(min-width: 992px)";
$notebook: "(min-width: 1280px)";
$desktop: "(min-width: 1366px)";
$desktop-full-hd: "(min-width: 1920)";
$wide: "(min-width: 2100px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$retina3x: "(min-resolution: 288dpi), (min-resolution: 2.25dppx)";


