.gift-1 {
  height: 390px;
  width: 348px;
  z-index: 10;
  pointer-events: none;
  left: 39vw;
  bottom: 0; }
  .gift-1 .active-area {
    pointer-events: auto; }
  .gift-1.opened {
    margin-bottom: -195px;
    margin-left: -174px; }

.gift-2 {
  height: 69px;
  width: 110px;
  z-index: 9;
  left: 51.7vw;
  bottom: 29vh; }
  .gift-2.opened {
    margin-bottom: -34.5px;
    margin-left: -55px; }

.gift-3 {
  height: 146px;
  width: 289px;
  z-index: 11;
  left: 51vw;
  bottom: 0; }
  .gift-3.opened {
    margin-bottom: -73px;
    margin-left: -144.5px; }

.gift-4 {
  height: 114px;
  width: 149px;
  z-index: 12;
  left: 65vw;
  bottom: 0; }
  .gift-4.opened {
    margin-bottom: -57px;
    margin-left: -74.5px; }

.gift-5 {
  height: 149px;
  width: 185px;
  z-index: 10;
  left: 56vw;
  bottom: 15.1vh; }
  .gift-5.opened {
    margin-bottom: -74.5px;
    margin-left: -92.5px; }

.gift-6 {
  height: 216px;
  width: 224px;
  z-index: 8;
  left: 41vw;
  bottom: 29.3vh; }
  .gift-6.opened {
    margin-bottom: -108px;
    margin-left: -112px; }

.gift-7 {
  height: 201px;
  width: 229px;
  z-index: 11;
  left: 27.1vw;
  bottom: 0; }
  .gift-7.opened {
    margin-bottom: -100.5px;
    margin-left: -114.5px; }

.gift-8 {
  height: 233px;
  width: 188px;
  z-index: 9;
  left: 32vw;
  bottom: 20.7vh; }
  .gift-8.opened {
    margin-bottom: -116.5px;
    margin-left: -94px; }

.gift-9 {
  height: 111px;
  width: 191px;
  z-index: 10;
  left: 26.7vw;
  bottom: 20.7vh; }
  .gift-9.opened {
    margin-bottom: -55.5px;
    margin-left: -95.5px; }

.gift-10 {
  height: 138px;
  width: 144px;
  z-index: 12;
  left: 20vw;
  bottom: 0; }
  .gift-10.opened {
    margin-bottom: -69px;
    margin-left: -72px; }

.gift-11 {
  height: 111px;
  width: 189px;
  z-index: 12;
  left: 17.8vw;
  bottom: 15.5%; }
  .gift-11.opened {
    margin-bottom: -55.5px;
    margin-left: -94.5px; }

.gift-12 {
  height: 113px;
  width: 278px;
  z-index: 12;
  left: 38vw;
  bottom: 0; }
  .gift-12.opened {
    margin-bottom: -56.5px;
    margin-left: -139px; }

.shadow {
  -webkit-filter: drop-shadow(0 0 2rem white);
          filter: drop-shadow(0 0 2rem white);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.shake {
  -webkit-animation: wobble 0.8s linear 1 forwards;
          animation: wobble 0.8s linear 1 forwards; }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 100; }
  20% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  40% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  60% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  80% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes wobble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 100; }
  20% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  40% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  60% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  80% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.opened {
  bottom: 50%;
  left: 50%;
  z-index: 55;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

.opening-wrap {
  z-index: 52;
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 600px;
  height: 600px;
  margin-bottom: -300px;
  margin-left: -300px;
  border-radius: 50%;
  background-color: white;
  -webkit-animation: emergence 2s linear;
          animation: emergence 2s linear; }

@-webkit-keyframes emergence {
  from {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: -5px;
    opacity: 0; }
  to {
    width: 600px;
    height: 600px;
    margin-bottom: -300px;
    margin-left: -300px;
    opacity: 1; } }

@keyframes emergence {
  from {
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: -5px;
    opacity: 0; }
  to {
    width: 600px;
    height: 600px;
    margin-bottom: -300px;
    margin-left: -300px;
    opacity: 1; } }

html, body {
  height: 1080px;
  width: 1920px; }

body {
  background: #e74c3c; }

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px; }

.giftbox {
  position: absolute; }

.overlay {
  background-color: #000000;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  opacity: 0.7;
  -webkit-transition: all 1s linear;
  transition: all 1s linear; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

/*# sourceMappingURL=style.css.map */
