.shadow {
  -webkit-filter: drop-shadow(0 0 2rem white);
          filter: drop-shadow(0 0 2rem white);
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear; }

.shake {
  -webkit-animation: wobble 0.8s linear 1 forwards;
          animation: wobble 0.8s linear 1 forwards; }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 100; }
  20% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  40% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  60% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  80% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes wobble {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 100; }
  20% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  40% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  60% {
    -webkit-transform: rotate(3deg) scale(1.05);
            transform: rotate(3deg) scale(1.05);
    z-index: 100; }
  80% {
    -webkit-transform: rotate(-3deg) scale(1.05);
            transform: rotate(-3deg) scale(1.05);
    z-index: 100; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.gift-1 {
  width: 348px;
  height: 390px;
  z-index: 10;
  pointer-events: none;
  left: 39vw;
  bottom: 0; }
  .gift-1 .active-area {
    pointer-events: auto; }

.gift-2 {
  width: 110px;
  height: 69px;
  z-index: 9;
  left: 51.7vw;
  bottom: 29vh; }

.gift-3 {
  width: 289px;
  height: 146px;
  z-index: 11;
  left: 51vw;
  bottom: 0; }

.gift-4 {
  width: 149px;
  height: 114px;
  z-index: 12;
  left: 65vw;
  bottom: 0; }

.gift-5 {
  width: 185px;
  height: 149px;
  z-index: 10;
  left: 56vw;
  bottom: 15.1vh; }

.gift-6 {
  width: 224px;
  height: 216px;
  z-index: 8;
  left: 41vw;
  bottom: 29.3vh; }

.gift-7 {
  width: 229px;
  height: 201px;
  z-index: 11;
  left: 27.1vw;
  bottom: 0; }

.gift-8 {
  width: 188px;
  height: 233px;
  z-index: 9;
  left: 32vw;
  bottom: 20.7vh; }

.gift-9 {
  width: 191px;
  height: 111px;
  z-index: 10;
  left: 26.7vw;
  bottom: 20.7vh; }

.gift-10 {
  width: 144px;
  height: 138px;
  z-index: 10;
  left: 20vw;
  bottom: 0; }

.gift-11 {
  width: 189px;
  height: 111px;
  z-index: 12;
  left: 17.8vw;
  bottom: 15.5%; }

.gift-12 {
  width: 278px;
  height: 107px;
  z-index: 12;
  left: 38vw;
  bottom: 0; }

html, body {
  height: 1080px;
  width: 1920px; }

body {
  background: #e74c3c;
  overflow: hidden; }

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 40px;
  top: 40px; }

.giftbox {
  position: absolute; }
  .giftbox.path {
    background-color: yellow; }

/*# sourceMappingURL=style.css.map */
