.step-1 {
  .selected.giftbox {
      animation: wobble-2 0.5s linear infinite;

    .cover {
      animation:cap-up 0.5s linear infinite  0.1s
    }
  }
}
.step-2 {
  .selected.giftbox:after {
    opacity: 0;
  }
}
.step-3 .selected.giftbox,
.step-4 .selected.giftox {
  display: none;
}
.step-2{
  .selected.giftbox{
    .cover {
      animation:flyUp 1s ease-in forwards;
    }
    .box {
      animation:flyDown 1s ease-in 0.5s forwards;
    }
  }
}
