.opening--step-1{
  .giftbox{
    animation:wobble 0.5s linear infinite forwards;
  }
  .cover{
    animation:wobble 0.5s linear infinite  0.1s forwards;
  }
  .icons .row span{
    opacity:1;
  }
}
.opening--step-2 .giftbox:after{
  opacity:0;
}
.opening--step-3 .giftbox,
.opening--step-4 .giftbox{
  opacity: 0;
  z-index:1;
  &:after{
    opacity:0;
  }
}
.opening--step-2{
  .giftbox{
    .cover{
      animation:flyUp 0.4s ease-in forwards;
    }
    .box{
      animation:flyDown 0.2s ease-in 0.05s forwards;
    }
  }
}
