.gift-8 {
  $height: 233px;
  $width: 188px;

  height: $height;
  width: $width;
  z-index:9;

  left:32vw;
  bottom:20.7vh;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
