.gift-11 {
  $height: 111px;
  $width: 189px;

  height: $height;
  width: $width;
  z-index:12;

  left:17.8vw;
  bottom: 15.5%;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
