.gift-4 {
  $height: 114px;
  $width: 149px;

  height: $height;
  width: $width;
  z-index:12;

  left:65vw;
  bottom: 0;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
