.gift-5 {
  $height: 149px;
  $width: 185px;

  height:$height;
  width:$width;
  z-index:10;

  left:56vw;
  bottom: 15.1vh;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
