.gift-2 {
  $height: 69px;
  $width: 110px;

  height:$height;
  width:$width;
  z-index:9;

  left: 51.7vw;
  bottom: 29vh;

  &.opened{
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
