.gift-12 {
  $height: 113px;
  $width: 278px;

  height: $height;
  width: $width;
  z-index:12;

  left:38vw;
  bottom: 0;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
