.gift-10 {
  $height: 138px;
  $width: 144px;

  height:$height;
  width:$width;
  z-index:12;

  left:20vw;
  bottom: 0;

  &.selected {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
