.gift-7 {
  $height: 206px;
  $width: 248px;

  height: $height;
  width: $width;
  z-index:11;

  left:27.8vw;
  bottom: 0;

  &.selected {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
