.gift-4 {
  $height: 149px;
  $width: 114px;

  width: $height;
  height: $width;
  z-index:12;

  left:65vw;
  bottom: 0;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
