.gift-6 {
  $height: 216px;
  $width: 224px;

  height: $height;
  width: $width;
  z-index:8;

  left:41vw;
  bottom: 29.3vh;

  &.opened {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
