.gift-3 {
  $height: 146px;
  $width: 289px;

  height: $height;
  width: $width;
  z-index:11;

  left: 51vw;
  bottom: 0;

  &.selected {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
