.gift-9 {
  $height: 111px;
  $width: 191px;

  height: $height;
  width: $width;
  z-index:10;

  left:26.7vw;
  bottom: 20.7vh;

  &.selected {
    margin-bottom: -#{$height/2};
    margin-left: -#{$width/2};
  }
}
